.show-list-container {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    box-sizing: border-box;

}



/*
.show-element {
    position: static;
    display: inline-block;
    height: 300px;
    width: 180px;
    vertical-align: top;
    overflow: visible;
    background-color: #fff;
    margin-right: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.show-element:hover {
  background-color: #FDFFFC;
  width: 400px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 1px #F22613,
  0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
  transform: scale(1.2,1.2) translate3d(20px,0,0);
  transition-duration: 400ms;
}

.show-element:hover .info-container {
  display: block;
}

.show-element:hover .img-container {
  margin-right: 20px;
}

.show-element:hover .drop-arrow {
  display: block;
  position: absolute;
  right: 150px;
  bottom: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid #F22613;
  border-width: 0 0 5px 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation-name: fadeFromTop;
  -moz-animation-name: fadeFromTop;
  -o-animation-name: fadeFromTop;
  animation-name: fadeFromTop;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
}


.img-container {
  float: left;

}

.show-element img {
  height: 240px;
}

.info-container {
  display: none;
}


.drop-arrow {
  display: none;
}

.show-element:hover .drop-arrow-container {
  background-color: black;
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  bottom: 0;
  z-index: 2;
}

.full-details-container {
  flex: 0 1 100%;
}


@keyframes fadeFromTop {
  from { bottom: 20px; }
  to { bottom: 10px }
}
*/