<div class="show-element">
    <h3>{{show.Title}}</h3>
    <img class="poster" src={{show.Poster}}/>
    <div class="info-container">
        <img class="info-container-poster" src={{show.Poster}}/>
        <div class="info-container-content">
            <p>{{show.Plot}}</p>
            <p><b>Seasons:</b> {{show.totalSeasons}}</p>
            <div class="drop-arrow-container" (click)="onFullDetailsClick($event)">
                <span class="drop-arrow"></span>
            </div>
        </div>
    </div>
    <div class="full-details-container" *ngIf="fullDetailsToggle">
        <p>{{show.Title}}</p>
        <div class="under-title">
            <p>{{show.Year}}</p>
            <p>{{show.Rated}}</p>
            <p>{{show.totalSeasons}} Seasons</p>
        </div>
        <div class="description-container">
            <p>{{show.Plot}}</p>
        </div>
        <div class="more-details">
            <p>Starring: {{show.Actors}}</p>
            <p>Genre: {{show.Genre}}</p>
        </div>
        <div class="full-info-img-container">
            <img class="poster" src={{show.Poster}}/>
        </div>
    </div>
</div>