<nav>
  <span id="binger-title">Binger</span>
  <ul class="nav-left-group">
    <li><span id="nav-home" routerLink="/shows">Home</span></li>
    <li><span id="nav-finished" routerLink="/finished">Finished Shows</span></li>
  </ul>
  <ul class="nav-right-group">
    <li id="search-button" (click)="openOverlay($event)">
      <i class="fa fa-search" aria-hidden="true"></i><span>Search</span>
    </li>
    <li id="login-button"><i class="fa fa-user" aria-hidden="true"></i><span>Login</span></li>
  </ul>
  <search-overlay [overlayEnabled]="overlayEnabled"
                  (overlayEnabledEmitter)="handleOverlayEmitter($event)"
  ></search-overlay>
</nav>
